* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
      
  }

  body{
      width: 100%;
      display: flex;
      flex-direction: column;
      
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .stylechange {background: red;} 
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .stylechange {background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .stylechange {background: orange;} 
  } 

 html { font-size:100%; }

    @media (min-width: 640px) { body {font-size:1rem;} } 
    @media (min-width:960px) { body {font-size:1.2rem;} } 
    @media (min-width:1100px) { body {font-size:1.5rem;} } 

animation {
	width: 100px;
	height: 50px;
    font-weight: bold;
	position: relative;
	animation: mymove 3s ;
	animation-iteration-count: 2;
    animation-direction: alternate;
    
}
#animation1 {animation-timing-function: ease;}
			
@keyframes mymove {
	from {left:0px}
	to {left:300px}
}


h1{
    text-align-last: center ;
    font-size: 35px;
}

header{
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
        color:white;
        height: 100px;
}

.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px, 5px;
    border-radius: 10px;
    display: inline-flexbox;
    justify-content: space-evenly;
}

.menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding:10px;
    
}
/* Make responsive images in 2 rows of 3*/
.row-container {
    display: flex;
    flex-direction: row;
    
  }
  
  .row-container > div {
    justify-content: space-evenly;
    padding: 5px;
  }

  
  /* flexbox to keep pictures spaced */
.responsive{
    display: flex ;
    align-items: flex-start; /* fix stretched pictures in safari browser*/
    justify-content: space-around;
    width: 90%;
    height: 90%;
    padding:5px;
}
.li{
    display: block;
    justify-content: space-around;
    width: 90%;
    height: auto;
    padding:5px;
}
.table{
    display: block;
    justify-content: space-around;
    width: 90%;
    height: auto;
    padding:5px;
}

footer{
    position: static;
    height: 85px;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    text-align: center ;  
}

.redsoc{

color: white;
}