* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
      
  }

  body{
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .flex-container > div {
      background-color: yellowgreen ;
      margin: 10px;
      padding: 10px;
      
    }
    h2{
      font-family: Arial, Helvetica, sans-serif;
      color: seagreen;
      font-size: 20px;
  }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-container > div {
    background-color: #60f08b;
    margin: 10px;
    padding: 10px;  
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    color: seagreen;
    font-size: 20px;
}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .flex-container > div {
      background-color: #f380b6;
      margin: 10px;
      padding: 10px;  
    }
    h2{
      font-family: Arial, Helvetica, sans-serif;
      color: blue;
      font-size: 40px;}
    
      .carousel {
        position:relative;
        align-items: flex-start;
        display: flex;
        width:80%;
        border:10px solid white;
        margin:20px auto;
        box-shadow:0px 0px 40px #000;
        height: 450px;
      }
  } 

 html { font-size:100%; }

    @media (min-width: 640px) { body {font-size:1rem;} } 
    @media (min-width:960px) { body {font-size:1.2rem;} } 
    @media (min-width:1100px) { body {font-size:1.5rem;} } 

animation {
	  width: 100px;
	  height: 50px;
    font-weight: bold;
	  position: relative;
	  animation: mymove 3s ;
	  animation-iteration-count: 2;
    animation-direction: alternate;
    
}
#animation1 {animation-timing-function: ease;}
			
@keyframes mymove {
	from {left:0px}
	to {left:190px}
}


h1{
    text-align-last: center ;
    font-size: 35px;
    
}

h4{
    font-family: cursive;
    color: orange;
}
header{
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
        color:white;
        height: 100px;
}

.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px, 5px;
    border-radius: 10px;
    display: inline-flexbox;
    justify-content: space-evenly;
}

.menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding:10px;
    
}
/* Make responsive images in 2 rows of 3*/
.row-container {
    display: flex;
    flex-direction: row;
    
  }
  
  .row-container > div {
    justify-content: space-evenly;
    padding: 5px;
  }

  
  /* flexbox to keep pictures spaced */
.responsive{
    display: flex ;
    align-items: flex-start; /* fix stretched pictures in safari browser*/
    justify-content: space-around;
    width: 90%;
    height: 90%;
    padding:5px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
   
  }
  
.table{
    display: block;
    justify-content: space-around;
    width: 90%;
    height: auto;
    padding:10px;
}
.regbutton {
  font-family: arial;
  color: #14396A !important;
  font-size: 14px;
  text-shadow: 2px 2px 0px #7CACDE;
  box-shadow: 4px 4px 1px #BEE2F9;
  padding: 11px 16px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(to top, #63B8EE, #468CCF);
}
.regbutton:hover {
  color: #683A6A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #63B8EE);
}

footer{
    margin-top: auto;
    position: static;
    height: 85px;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    text-align: center ;  
}

.redsoc{

color: white;
}
.carousel {
  position:relative;
  align-items: flex-start;
  display: flex;
  width:80%;
  border:10px solid white;
  margin:20px auto;
  box-shadow:0px 0px 40px #000;
  
}
.carousel > img {
  display:none;
  width:100%;
  height: 100%;
  
}
.carousel > input {
  position:absolute;
  left:-9999px;
}
.carousel > input:checked + label + img {
  display:block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display:none;
}
.carousel > input:checked + label {
  display:block;
  left:0;
}
.carousel > input:checked ~ label ~ label ~ label {
  display:block;
  right:0;
}

.carousel > label {
  position:absolute;
  top:0;
  width:25%;
  height:100%;
  visibility:hidden;
}
.carousel > label:before {
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  visibility:visible;
}
.carousel > label:after {
  display:block;
  position:absolute;
  top:50%;
  width:25px;
  height:25px;
  line-height:22px;
  margin:-15px 10px 0 10px;
  background-color:black;
  color:white;
  font-family:'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:center;
  visibility:hidden;
  border:2px solid white;
  border-radius:20px;
  box-shadow:0 3px 4px black;
}
.carousel > label:hover:after {
  visibility:visible;
}

.carousel > input:checked + label:after {
  left:0;
  content:'\00AB';
}
.carousel > input:checked ~ label ~ label ~ label:after {
  right:0;
  content:'\00BB';
}